<div class="jumbotron mt-4">
  <h3 align="center">PRODUCTOS EN EXISTENCIA</h3>
  <br>
  <div class="form-group">
    <p align="right"><a href="../products/transactions" class="btn btn-success" type="submit">Regresar</a></p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="card">
    <h5 class="card-header">Total de productos.</h5>
    <div class="card-body">
      <h3 style="text-align: center;">Actualmente Me Late Chocolate cuenta con una cantidad de:</h3>
      <h1 style="text-align: center; color: red;">{{totalCantidad}}</h1>
       <h3 style="text-align: center;">productos en existencia.</h3>
    </div>
  </div>
  <div class="card">

  </div>
</div>