<div class="jumbotron mt-4">
  <h1 align="center">CALIDAD Y SOSTENIBILIDAD</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <div class="card-body">
          <img src="https://i.pinimg.com/736x/15/38/1d/15381d5d29d72783ea8d2fcf99e8d11e.jpg" alt="Card image cap">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4>Nuestros cultivos</h4>
          <br>
          <h2 class="card-title">NOS</h2>
          <h2 class="card-title">PREOCUPAMOS</h2>
          <h2 class="card-title">POR LO MEJOR.</h2>
          <br>
          <p class="card-text" align="justify">Me Late Chocolate siempre ha promovido una cultura de respeto, integridad
            e innovación, desde que
            la empresa familiar fue fundada en 2020.</p>
          <p class="card-text" align="justify">Para la inimitable marca Me Late Chocolate, esta cultura representa tanto
            el espíritu de la empresa como el legado de
            nuestra especialidad más famosa en una búsqueda continua de la calidad.
          <p class="card-text" align="justify">Nos impulsa a aumentar nuestras
            ambiciones al tiempo que aspiramos a crear un cambio social positivo y un impacto medioambiental reducido
            allá donde trabajemos.
            br
            Lo conseguimos mediante:</p>
          <p class="card-text"> - El cuidado del consumidor.</p>
          <p class="card-text"> - El cuidado del legado.</p>
          <p class="card-text"> - El cuidado de los ingredientes.</p>
        </div>
      </div>
      <br>
      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p align="center">"La versatilidad del chocolate es la fuente de inspiración para crear deliciosas
            combinaciones".</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              <cite title="Source Title">Hannia Mireles Moreno</cite>
            </small>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">CUIDADO DEL CONSUMIDOR.</h2>
          <p class="card-text" align="justify">Desde el primer chocolate producido, nuestro compromiso con la calidad ha
            encarnado nuestro
            cuidado del consumidor. Creemos que la calidad es la máxima forma de respeto del consumidor.
            <br>
            <br>
            Para nosotros, calidad significa muchas cosas: la cuidadosa selección de ingredientes rigurosamente
            seleccionados, las habilidades empleadas para combinar estos ingredientes en recetas que ofrezcan
            experiencias multisensoriales y las temperaturas de procesamiento correctas para ofrecer una experiencia de
            degustación homogénea para nuestros consumidores.
            <br>
            <br>
            Junto con el modo de envasado y almacenado de los chocolates, estamos comprometidos para garantizar que el
            sabor de nuestras especialidades se mantenga constante.
          </p>
        </div>
      </div>
      <br>
      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p align="center">"Cada bocado de chocolate es una oportunidad para descubrir nuevas formas de deleitar los
            sentidos".</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              <cite title="Source Title">Hannia Mireles Moreno</cite>
            </small>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <div class="card-body">
          <img
            src="https://i.pinimg.com/564x/d2/0f/1f/d20f1f6467cb273aeb4688c42426fc12.jpg"
            alt="">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <div class="card-body">
          <img
            src="https://i.pinimg.com/736x/b2/16/56/b216568973d2e0a89a791c0a9f11024d.jpg"
            alt="Card image cap">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">CUIDADO DEL LEGADO</h2>
          <br>
          <p class="card-text" align="justify">El legado de la calidad forma una parte esencial de todo lo que hacemos
            en Me Late Chocolate. La empresa se fundó en 2020 a partir de este legado: hacer que las especialidades de
            chocolate de calidad fueran accesibles a un público mucho más amplio.
            <br>
            <br>
            Lo que podrían parecer meros detalles para algunos, es una cultura de cuidado del legado, una parte esencial
            de Me Late Chocolate. Al igual que generaciones anteriores han disfrutado de
            los chocolates, para compartir o para regalar, queremos garantizar que este mismo legado de especialidades
            de
            chocolate de calidad sea accesible para futuras generaciones.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">CUIDADO DE LOS INGREDIENTES.</h2>
          <p class="card-text" align="justify">La calidad también significa cuidar de los ingredientes.
            <br>
            <br>
            Seleccionamos cuidadosamente a nuestros colaboradores para producir ingredientes de gran calidad que después
            cuidamos durante todo el período de cultivo, transporte, recepción y procesamiento para que conserven sus
            características originales, como el aroma, la textura y el sabor.
            <br>
            <br>
            Con tantas pruebas, catas y normas que cumplir, siempre nos esforzamos para garantizar el mejor sabor
            posible.
          </p>
        </div>
        <div class="card-body">
          <h2 class="card-title">CUIDADO DEL ENTORNO Y LAS COMUNIDADES.</h2>
          <p class="card-text" align="justify">En Me Late Chocolate creemos que para mantener la calidad debemos
            cuidar el entorno y las comunidades en las que producimos y operamos. Proteger la tierra y devolverle lo que
            es suyo, ya sea en términos de nutrientes del suelo, formación de los agricultores o apoyo a las comunidades
            locales con educación, es esencial para garantizar la sostenibilidad del entorno.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <div class="card-body">
          <img
            src="https://pixabay.com/get/gde669609b3e8358437de2f587f7a5838f913bed7fe11bde2efd6e76e2514e04e29055ee1fc5c769d5ef0439146e206205fa1b9a4df9ffeb52d38261d88880789185d8d9ab76785419cb31853a325bc0b_640.jpg"
            alt="">
        </div>
      </div>
    </div>
  </div>