<div class="jumbotron mt-4">
    <!---->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img
                        class="d-block w-100"
                        src="https://cdn.pixabay.com/photo/2022/11/21/08/19/ferrero-rocher-7606243_1280.jpg"
                        alt="First slide"
                    />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mx-auto">
                            <h1 align="center">ME LATE CHOCOLATE</h1>
                            <div class="card mt-4 text-center">
                                <div class="card-header">
                                    <h5>Inicie sesión mediante su cuenta.</h5>
                                </div>
                                <img
                                    src="/img/5.png"
                                    class="rounded-circle mx-auto d-block m-4 signin"
                                    alt="signin"
                                />
                                <div class="card-body">
                                    <form action="/users/signin" method="POST">
                                        <div class="form-group">
                                            <input
                                                type="email"
                                                class="form-control"
                                                name="email"
                                                placeholder="Corrreo electronico"
                                                autofocus
                                            />
                                        </div>
                                         <br>
                                        <div class="form-group">
                                            <input
                                                type="password"
                                                class="form-control"
                                                name="password"
                                                placeholder="Contraseña"
                                            />
                                        </div>
                                        <!--h6>¿No tiene ninguna cuenta?
                                            <a href="../users/signup">Cree una.</a></h6-->
                                        <br>
                                         <br>
                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn btn-primary btn-block"
                                            >Iniciar Sesion</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
</div>
